/**
	Placeholder Mixins
	Author: esvi
	Updated: 20-04-2023
	V1.0.0
**/

/** Example:
	@include placeholder {
		color: slategrey;
	}
 */
@mixin placeholder {
	
	&::-webkit-input-placeholder {
		@content
	}
	
	&::-moz-placeholder {
		@content
	}
	
	&:-moz-placeholder {
		@content
	}
	
	&:-ms-input-placeholder {
		@content
	}
	
}